<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fjh.dao.CstServiceMapper">
  <resultMap id="BaseResultMap" type="org.fjh.entity.CstService">
    <id column="svr_id" jdbcType="BIGINT" property="svrId" />
    <result column="svr_cust_no" jdbcType="VARCHAR" property="svrCustNo" />
    <result column="svr_type" jdbcType="VARCHAR" property="svrType" />
    <result column="svr_cust_name" jdbcType="VARCHAR" property="svrCustName" />
    <result column="svr_status" jdbcType="VARCHAR" property="svrStatus" />
    <result column="svr_create_id" jdbcType="BIGINT" property="svrCreateId" />
    <result column="svr_create_by" jdbcType="VARCHAR" property="svrCreateBy" />
    <result column="svr_create_date" jdbcType="DATE" property="svrCreateDate" />
    <result column="svr_due_id" jdbcType="BIGINT" property="svrDueId" />
    <result column="svr_due_to" jdbcType="VARCHAR" property="svrDueTo" />
    <result column="svr_due_date" jdbcType="DATE" property="svrDueDate" />
    <result column="svr_deal_id" jdbcType="BIGINT" property="svrDealId" />
    <result column="svr_deal_by" jdbcType="VARCHAR" property="svrDealBy" />
    <result column="svr_deal_date" jdbcType="DATE" property="svrDealDate" />
    <result column="svr_satisfy" jdbcType="INTEGER" property="svrSatisfy" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.fjh.entity.CstServiceWithBLOBs">
    <result column="svr_title" jdbcType="LONGVARCHAR" property="svrTitle" />
    <result column="svr_request" jdbcType="LONGVARCHAR" property="svrRequest" />
    <result column="svr_deal" jdbcType="LONGVARCHAR" property="svrDeal" />
    <result column="svr_result" jdbcType="LONGVARCHAR" property="svrResult" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    svr_id, svr_cust_no, svr_type, svr_cust_name, svr_status, svr_create_id, svr_create_by, 
    svr_create_date, svr_due_id, svr_due_to, svr_due_date, svr_deal_id, svr_deal_by, 
    svr_deal_date, svr_satisfy
  </sql>
  <sql id="Blob_Column_List">
    svr_title, svr_request, svr_deal, svr_result
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.fjh.entity.CstServiceExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cst_service
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.fjh.entity.CstServiceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cst_service
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cst_service
    where svr_id = #{svrId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cst_service
    where svr_id = #{svrId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.fjh.entity.CstServiceExample">
    delete from cst_service
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.fjh.entity.CstServiceWithBLOBs">
    insert into cst_service (svr_id, svr_cust_no, svr_type, 
      svr_cust_name, svr_status, svr_create_id, 
      svr_create_by, svr_create_date, svr_due_id, 
      svr_due_to, svr_due_date, svr_deal_id, 
      svr_deal_by, svr_deal_date, svr_satisfy, 
      svr_title, svr_request, svr_deal, 
      svr_result)
    values (#{svrId,jdbcType=BIGINT}, #{svrCustNo,jdbcType=VARCHAR}, #{svrType,jdbcType=VARCHAR}, 
      #{svrCustName,jdbcType=VARCHAR}, #{svrStatus,jdbcType=VARCHAR}, #{svrCreateId,jdbcType=BIGINT}, 
      #{svrCreateBy,jdbcType=VARCHAR}, #{svrCreateDate,jdbcType=DATE}, #{svrDueId,jdbcType=BIGINT}, 
      #{svrDueTo,jdbcType=VARCHAR}, #{svrDueDate,jdbcType=DATE}, #{svrDealId,jdbcType=BIGINT}, 
      #{svrDealBy,jdbcType=VARCHAR}, #{svrDealDate,jdbcType=DATE}, #{svrSatisfy,jdbcType=INTEGER}, 
      #{svrTitle,jdbcType=LONGVARCHAR}, #{svrRequest,jdbcType=LONGVARCHAR}, #{svrDeal,jdbcType=LONGVARCHAR}, 
      #{svrResult,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.fjh.entity.CstServiceWithBLOBs">
    insert into cst_service
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="svrId != null">
        svr_id,
      </if>
      <if test="svrCustNo != null">
        svr_cust_no,
      </if>
      <if test="svrType != null">
        svr_type,
      </if>
      <if test="svrCustName != null">
        svr_cust_name,
      </if>
      <if test="svrStatus != null">
        svr_status,
      </if>
      <if test="svrCreateId != null">
        svr_create_id,
      </if>
      <if test="svrCreateBy != null">
        svr_create_by,
      </if>
      <if test="svrCreateDate != null">
        svr_create_date,
      </if>
      <if test="svrDueId != null">
        svr_due_id,
      </if>
      <if test="svrDueTo != null">
        svr_due_to,
      </if>
      <if test="svrDueDate != null">
        svr_due_date,
      </if>
      <if test="svrDealId != null">
        svr_deal_id,
      </if>
      <if test="svrDealBy != null">
        svr_deal_by,
      </if>
      <if test="svrDealDate != null">
        svr_deal_date,
      </if>
      <if test="svrSatisfy != null">
        svr_satisfy,
      </if>
      <if test="svrTitle != null">
        svr_title,
      </if>
      <if test="svrRequest != null">
        svr_request,
      </if>
      <if test="svrDeal != null">
        svr_deal,
      </if>
      <if test="svrResult != null">
        svr_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="svrId != null">
        #{svrId,jdbcType=BIGINT},
      </if>
      <if test="svrCustNo != null">
        #{svrCustNo,jdbcType=VARCHAR},
      </if>
      <if test="svrType != null">
        #{svrType,jdbcType=VARCHAR},
      </if>
      <if test="svrCustName != null">
        #{svrCustName,jdbcType=VARCHAR},
      </if>
      <if test="svrStatus != null">
        #{svrStatus,jdbcType=VARCHAR},
      </if>
      <if test="svrCreateId != null">
        #{svrCreateId,jdbcType=BIGINT},
      </if>
      <if test="svrCreateBy != null">
        #{svrCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="svrCreateDate != null">
        #{svrCreateDate,jdbcType=DATE},
      </if>
      <if test="svrDueId != null">
        #{svrDueId,jdbcType=BIGINT},
      </if>
      <if test="svrDueTo != null">
        #{svrDueTo,jdbcType=VARCHAR},
      </if>
      <if test="svrDueDate != null">
        #{svrDueDate,jdbcType=DATE},
      </if>
      <if test="svrDealId != null">
        #{svrDealId,jdbcType=BIGINT},
      </if>
      <if test="svrDealBy != null">
        #{svrDealBy,jdbcType=VARCHAR},
      </if>
      <if test="svrDealDate != null">
        #{svrDealDate,jdbcType=DATE},
      </if>
      <if test="svrSatisfy != null">
        #{svrSatisfy,jdbcType=INTEGER},
      </if>
      <if test="svrTitle != null">
        #{svrTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="svrRequest != null">
        #{svrRequest,jdbcType=LONGVARCHAR},
      </if>
      <if test="svrDeal != null">
        #{svrDeal,jdbcType=LONGVARCHAR},
      </if>
      <if test="svrResult != null">
        #{svrResult,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.fjh.entity.CstServiceExample" resultType="java.lang.Long">
    select count(*) from cst_service
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cst_service
    <set>
      <if test="record.svrId != null">
        svr_id = #{record.svrId,jdbcType=BIGINT},
      </if>
      <if test="record.svrCustNo != null">
        svr_cust_no = #{record.svrCustNo,jdbcType=VARCHAR},
      </if>
      <if test="record.svrType != null">
        svr_type = #{record.svrType,jdbcType=VARCHAR},
      </if>
      <if test="record.svrCustName != null">
        svr_cust_name = #{record.svrCustName,jdbcType=VARCHAR},
      </if>
      <if test="record.svrStatus != null">
        svr_status = #{record.svrStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.svrCreateId != null">
        svr_create_id = #{record.svrCreateId,jdbcType=BIGINT},
      </if>
      <if test="record.svrCreateBy != null">
        svr_create_by = #{record.svrCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.svrCreateDate != null">
        svr_create_date = #{record.svrCreateDate,jdbcType=DATE},
      </if>
      <if test="record.svrDueId != null">
        svr_due_id = #{record.svrDueId,jdbcType=BIGINT},
      </if>
      <if test="record.svrDueTo != null">
        svr_due_to = #{record.svrDueTo,jdbcType=VARCHAR},
      </if>
      <if test="record.svrDueDate != null">
        svr_due_date = #{record.svrDueDate,jdbcType=DATE},
      </if>
      <if test="record.svrDealId != null">
        svr_deal_id = #{record.svrDealId,jdbcType=BIGINT},
      </if>
      <if test="record.svrDealBy != null">
        svr_deal_by = #{record.svrDealBy,jdbcType=VARCHAR},
      </if>
      <if test="record.svrDealDate != null">
        svr_deal_date = #{record.svrDealDate,jdbcType=DATE},
      </if>
      <if test="record.svrSatisfy != null">
        svr_satisfy = #{record.svrSatisfy,jdbcType=INTEGER},
      </if>
      <if test="record.svrTitle != null">
        svr_title = #{record.svrTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.svrRequest != null">
        svr_request = #{record.svrRequest,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.svrDeal != null">
        svr_deal = #{record.svrDeal,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.svrResult != null">
        svr_result = #{record.svrResult,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cst_service
    set svr_id = #{record.svrId,jdbcType=BIGINT},
      svr_cust_no = #{record.svrCustNo,jdbcType=VARCHAR},
      svr_type = #{record.svrType,jdbcType=VARCHAR},
      svr_cust_name = #{record.svrCustName,jdbcType=VARCHAR},
      svr_status = #{record.svrStatus,jdbcType=VARCHAR},
      svr_create_id = #{record.svrCreateId,jdbcType=BIGINT},
      svr_create_by = #{record.svrCreateBy,jdbcType=VARCHAR},
      svr_create_date = #{record.svrCreateDate,jdbcType=DATE},
      svr_due_id = #{record.svrDueId,jdbcType=BIGINT},
      svr_due_to = #{record.svrDueTo,jdbcType=VARCHAR},
      svr_due_date = #{record.svrDueDate,jdbcType=DATE},
      svr_deal_id = #{record.svrDealId,jdbcType=BIGINT},
      svr_deal_by = #{record.svrDealBy,jdbcType=VARCHAR},
      svr_deal_date = #{record.svrDealDate,jdbcType=DATE},
      svr_satisfy = #{record.svrSatisfy,jdbcType=INTEGER},
      svr_title = #{record.svrTitle,jdbcType=LONGVARCHAR},
      svr_request = #{record.svrRequest,jdbcType=LONGVARCHAR},
      svr_deal = #{record.svrDeal,jdbcType=LONGVARCHAR},
      svr_result = #{record.svrResult,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cst_service
    set svr_id = #{record.svrId,jdbcType=BIGINT},
      svr_cust_no = #{record.svrCustNo,jdbcType=VARCHAR},
      svr_type = #{record.svrType,jdbcType=VARCHAR},
      svr_cust_name = #{record.svrCustName,jdbcType=VARCHAR},
      svr_status = #{record.svrStatus,jdbcType=VARCHAR},
      svr_create_id = #{record.svrCreateId,jdbcType=BIGINT},
      svr_create_by = #{record.svrCreateBy,jdbcType=VARCHAR},
      svr_create_date = #{record.svrCreateDate,jdbcType=DATE},
      svr_due_id = #{record.svrDueId,jdbcType=BIGINT},
      svr_due_to = #{record.svrDueTo,jdbcType=VARCHAR},
      svr_due_date = #{record.svrDueDate,jdbcType=DATE},
      svr_deal_id = #{record.svrDealId,jdbcType=BIGINT},
      svr_deal_by = #{record.svrDealBy,jdbcType=VARCHAR},
      svr_deal_date = #{record.svrDealDate,jdbcType=DATE},
      svr_satisfy = #{record.svrSatisfy,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.fjh.entity.CstServiceWithBLOBs">
    update cst_service
    <set>
      <if test="svrCustNo != null">
        svr_cust_no = #{svrCustNo,jdbcType=VARCHAR},
      </if>
      <if test="svrType != null">
        svr_type = #{svrType,jdbcType=VARCHAR},
      </if>
      <if test="svrCustName != null">
        svr_cust_name = #{svrCustName,jdbcType=VARCHAR},
      </if>
      <if test="svrStatus != null">
        svr_status = #{svrStatus,jdbcType=VARCHAR},
      </if>
      <if test="svrCreateId != null">
        svr_create_id = #{svrCreateId,jdbcType=BIGINT},
      </if>
      <if test="svrCreateBy != null">
        svr_create_by = #{svrCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="svrCreateDate != null">
        svr_create_date = #{svrCreateDate,jdbcType=DATE},
      </if>
      <if test="svrDueId != null">
        svr_due_id = #{svrDueId,jdbcType=BIGINT},
      </if>
      <if test="svrDueTo != null">
        svr_due_to = #{svrDueTo,jdbcType=VARCHAR},
      </if>
      <if test="svrDueDate != null">
        svr_due_date = #{svrDueDate,jdbcType=DATE},
      </if>
      <if test="svrDealId != null">
        svr_deal_id = #{svrDealId,jdbcType=BIGINT},
      </if>
      <if test="svrDealBy != null">
        svr_deal_by = #{svrDealBy,jdbcType=VARCHAR},
      </if>
      <if test="svrDealDate != null">
        svr_deal_date = #{svrDealDate,jdbcType=DATE},
      </if>
      <if test="svrSatisfy != null">
        svr_satisfy = #{svrSatisfy,jdbcType=INTEGER},
      </if>
      <if test="svrTitle != null">
        svr_title = #{svrTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="svrRequest != null">
        svr_request = #{svrRequest,jdbcType=LONGVARCHAR},
      </if>
      <if test="svrDeal != null">
        svr_deal = #{svrDeal,jdbcType=LONGVARCHAR},
      </if>
      <if test="svrResult != null">
        svr_result = #{svrResult,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where svr_id = #{svrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.fjh.entity.CstServiceWithBLOBs">
    update cst_service
    set svr_cust_no = #{svrCustNo,jdbcType=VARCHAR},
      svr_type = #{svrType,jdbcType=VARCHAR},
      svr_cust_name = #{svrCustName,jdbcType=VARCHAR},
      svr_status = #{svrStatus,jdbcType=VARCHAR},
      svr_create_id = #{svrCreateId,jdbcType=BIGINT},
      svr_create_by = #{svrCreateBy,jdbcType=VARCHAR},
      svr_create_date = #{svrCreateDate,jdbcType=DATE},
      svr_due_id = #{svrDueId,jdbcType=BIGINT},
      svr_due_to = #{svrDueTo,jdbcType=VARCHAR},
      svr_due_date = #{svrDueDate,jdbcType=DATE},
      svr_deal_id = #{svrDealId,jdbcType=BIGINT},
      svr_deal_by = #{svrDealBy,jdbcType=VARCHAR},
      svr_deal_date = #{svrDealDate,jdbcType=DATE},
      svr_satisfy = #{svrSatisfy,jdbcType=INTEGER},
      svr_title = #{svrTitle,jdbcType=LONGVARCHAR},
      svr_request = #{svrRequest,jdbcType=LONGVARCHAR},
      svr_deal = #{svrDeal,jdbcType=LONGVARCHAR},
      svr_result = #{svrResult,jdbcType=LONGVARCHAR}
    where svr_id = #{svrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.fjh.entity.CstService">
    update cst_service
    set svr_cust_no = #{svrCustNo,jdbcType=VARCHAR},
      svr_type = #{svrType,jdbcType=VARCHAR},
      svr_cust_name = #{svrCustName,jdbcType=VARCHAR},
      svr_status = #{svrStatus,jdbcType=VARCHAR},
      svr_create_id = #{svrCreateId,jdbcType=BIGINT},
      svr_create_by = #{svrCreateBy,jdbcType=VARCHAR},
      svr_create_date = #{svrCreateDate,jdbcType=DATE},
      svr_due_id = #{svrDueId,jdbcType=BIGINT},
      svr_due_to = #{svrDueTo,jdbcType=VARCHAR},
      svr_due_date = #{svrDueDate,jdbcType=DATE},
      svr_deal_id = #{svrDealId,jdbcType=BIGINT},
      svr_deal_by = #{svrDealBy,jdbcType=VARCHAR},
      svr_deal_date = #{svrDealDate,jdbcType=DATE},
      svr_satisfy = #{svrSatisfy,jdbcType=INTEGER}
    where svr_id = #{svrId,jdbcType=BIGINT}
  </update>
</mapper>